### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [256]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [257]:
player_count = len(purchase_data_df["SN"].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [258]:
#Calculate Values
total_purchases = purchase_data_df["Price"].count()
total_revenue = purchase_data_df["Price"].sum()

unique_items = len(purchase_data_df["Item ID"].unique())
avg_price = total_revenue / total_purchases

#print values
print(unique_items)
print(avg_price) 
print(total_revenue)


summary_df= pd.DataFrame(columns=['Total Purchases', 'Total Revenue', 'Unique Items', 'Average Price'])
summary_df = summary_df.append({'Total Purchases':total_purchases, 'Total Revenue':total_revenue, 
                                'Unique Items': unique_items, 'Average Price':avg_price}, ignore_index=True)

summary_df

#Format and Clean Data
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df["Total Purchases"] = summary_df["Total Purchases"].astype(int).map("{:}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)
summary_df["Unique Items"] = summary_df["Unique Items"].astype(int).map("{:}".format)
summary_df

179
3.0509871794871795
2379.77

  Total Purchases Total Revenue Unique Items Average Price
0             780     $2,379.77          179         $3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [259]:
#Groupby Gender
gender_df = purchase_data_df.groupby(["Gender"])

#Total # of entries in gender
total_gender = gender_df.nunique()["SN"]

#Gender Percentage
gender_percent = (total_gender / player_count).map("{:,.2%}".format) 

#data frame
Demographics_df = pd.DataFrame({"% of Players": gender_percent, "Players": total_gender})
Demographics_df.sort_values(["Players"], ascending = False)

                      % of Players  Players
Gender
Male                        84.03%      484
Female                      14.06%       81
Other / Non-Disclosed        1.91%       11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [260]:
#Purchase Count by Gender
purchase_count = gender_df["Purchase ID"].count()

#Average Price
purchase_avg = gender_df["Price"].mean().map("${:,.2f}".format) 

#Average Total Per Player
purchase_total = (gender_df["Price"].sum()/total_gender).map("${:,.2f}".format) 

#New Data Frame
gender_purchase_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                   "Average Purchase":purchase_avg, 
                                   "Average Total Per Player": purchase_total})

#Show New Field in Data Frame
gender_purchase_df

,Purchase Count,Average Purchase,Average Total Per Player
Gender,,,
Female,113,$3.20,$4.47
Male,652,$3.02,$4.07
Other / Non-Disclosed,15,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [261]:
#Drop duplicate Players
dropped_df = purchase_data_df.drop_duplicates("SN")
dropped_df

#Create Age Bins
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99.99]
age_labels = ["< 10yrs", "10 -14yrs", "15-19yrs", "20-24yrs", "25-29yrs", "30-34yrs", "35-39yrs", "40yrs +"]

#Sort Purchases
dropped_df["Age Range"]= pd.cut(dropped_df['Age'],age_bins, labels= age_labels)
dropped_df

#Counts per Bin
total_age_purchase = dropped_df["Age Range"].value_counts()
total_age_purchase

#percent of total
purchase_percent_age = (total_age_purchase / total_purchases).map("{:,.2%}".format)
purchase_percent_age

#New Data Frame
age_purchase_demo_df = pd.DataFrame ({"Total Players":total_age_purchase , "Percentage of Players": purchase_percent_age})


age_purchase_demo_df.reindex(["< 10yrs", "10 -14yrs", "15-19yrs", "20-24yrs", "25-29yrs", "30-34yrs", "35-39yrs", "40yrs +"])

<ipython-input-261-56fb2f7860d8>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped_df["Age Range"]= pd.cut(dropped_df['Age'],age_bins, labels= age_labels)

           Total Players Percentage of Players
< 10yrs               17                 2.18%
10 -14yrs             22                 2.82%
15-19yrs             107                13.72%
20-24yrs             258                33.08%
25-29yrs              77                 9.87%
30-34yrs              52                 6.67%
35-39yrs              31                 3.97%
40yrs +               12                 1.54%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [269]:
#Refernce Data Frame from above
age_df = dropped_df.groupby(["Age Range"])

#purchase count
age_purchase_count= age_df["Purchase ID"].count()

#average price
age_avg_purchase_price= age_df["Price"].mean().map("${:,.2f}".format) 

#purchase total
age_purchase_total= age_df["Price"].sum().map("${:,.2f}".format) 


#New Data Frame
purchase_analysis_df = pd.DataFrame({"# of Purchases":age_purchase_count, "Average Price":age_avg_purchase_price, 
                         "Purchase Total": age_purchase_total, "Total per Player": per_player})

purchase_analysis_df

           # of Purchases Average Price Purchase Total Total per Player
Age Range
< 10yrs                17         $3.39         $57.63            $3.39
10 -14yrs              22         $3.07         $67.64            $3.07
15-19yrs              107         $3.10        $331.88            $3.10
20-24yrs              258         $3.06        $790.39            $3.06
25-29yrs               77         $2.91        $223.93            $2.91
30-34yrs               52         $2.92        $151.92            $2.92
35-39yrs               31         $3.51        $108.81            $3.51
40yrs +                12         $3.04         $36.45            $3.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [281]:
#top spender count
top_spender_count = purchase_data_df["SN"].count()

#average price
top_spender_avg = purchase_data_df["Price"].mean()

#total purchases
top_spender_total = purchase_data_df["Price"].sum()

#Sort Data
#top_spenders_df = purchase_data_df.groupby (["SN"]).agg({"Price": ["count", "mean", "sum"]})


#Clean Data
#top_spenders_df= pd.DataFrame({"# of Purchases": top_spender_count, 
#                                 "Average Purchase": top_spender_avg, 
#                                 "Total Spend": top_spender_total})

#show Data Frame
#top_spenders_df.sort_values([("Price", "sum")], ascending= False).head()

ValueError: If using all scalar values, you must pass an index

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results
|

* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [276]:
#Sort Data
most_popular_df = purchase_data_df.groupby (["Item ID", "Item Name"]).agg({"Price": ["count", "mean", "sum"]})


#Clean Data
most_popular_df[("Price","mean")] = most_popular_df[("Price", "mean")].map("${:,.2f}".format)
most_popular_df[("Price","sum")] = most_popular_df[("Price", "sum")].map("${:,.2f}".format)

#show Data Frame
most_popular_df.sort_values([("Price", "count")], ascending= False).head()

                                                     Price
                                                     count   mean     sum
Item ID Item Name
92      Final Critic                                    13  $4.61  $59.99
178     Oathbreaker, Last Hope of the Breaking Storm    12  $4.23  $50.76
145     Fiery Glass Crusader                             9  $4.58  $41.22
132     Persuasion                                       9  $3.22  $28.99
108     Extraction, Quickblade Of Trembling Hands        9  $3.53  $31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [277]:
most_popular_df.sort_values([("Price", "sum")], ascending= False).head()

                                          Price
                                          count   mean    sum
Item ID Item Name
63      Stormfury Mace                        2  $4.99  $9.98
29      Chaos, Ender of the End               5  $1.98  $9.90
173     Stormfury Longsword                   2  $4.93  $9.86
38      The Void, Vengeance of Dark Magic     4  $2.37  $9.48
143     Frenzied Scimitar                     6  $1.56  $9.36